{{ partial "head.html" . }}
<div class="content container">
  <div class="posts">
    {{ range .posts }}
    <div class="post">
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
      <span class="post-date">{{ .Created.Format "Jan 2, 2006 15:04:05" }} &middot; <a href="/category/{{ .Category.Slug }}">{{ .Category.Title }}</a></span>
      <p>{{ rend_md .Description }}</p>
      <a href="{{ .Permalink }}">Read On &rarr;</a>
    </div>
    {{ end }}
  </div>
  <div>
  {{ if .pagination.HasOlder }}<a href="/?page={{ .pagination.OlderIndex }}">Older</a>{{ end }} {{ if .pagination.Both }} &middot; {{ end }} {{ if .pagination.HasNewer }}<a href="/?page={{ .pagination.NewerIndex }}">Newer</a>{{ end }}
  </div>
</div>
{{ partial "foot.html" . }}