{{ partial "head.html" . }}
<div class="content container">
	{{ range .series }}
		<h1><a href="/series/{{ .Slug }}">{{ .Title }}</a></h1>
		<h3>{{ fmt_date .Created "Jan 2006" }}</h3>
		<hr />
	  	<div class="posts">
		{{ range .Posts}}
		    <div class="post">
		      <h2 class="post-title">
		        <a href="{{ .Permalink }}">{{ .Title }}</a>
		      </h2>
		      <span class="post-date">{{ .Created.Format "Jan 2, 2006 15:04:05" }} &middot; <a href="/category/{{ .Category.Slug }}">{{ .Category.Title }}</a></span>
		    </div>
	    {{ end }}
	  	</div>
  	{{ else }}
		<p>No Series</p>
  	{{ end }}
	{{ if .pagination.HasOlder}}<a href="/series?page={{ .pagination.OlderIndex }}">Older</a>{{ end }} {{ if .pagination.Both }} &middot; {{ end }} {{ if .pagination.HasNewer }}<a href="/series?page={{ .pagination.NewerIndex }}">Newer</a>{{ end }}
</div>
{{ partial "foot.html" . }}