{{ partial "head.html" . }}
<div class="content container">
	{{ range $k, $v := .series }}
		<h1>{{ fmt_date $k "Jan 2006" }}</h1>
		<hr />
	  	<div class="posts">
		{{ range $v}}
		    <div class="post">
		      <h2 class="post-title">
		        <a href="{{ .Permalink }}">{{ .Title }}</a>
		      </h2>
		      <span class="post-date">{{ .Created.Format "Jan 2, 2006 15:04:05" }} &middot; <a href="/category/{{ .Category.Slug }}">{{ .Category.Title }}</a></span>
		      <p>{{ rend_md .Description }}</p>
		      <a href="{{ .Permalink }}">Read On &rarr;</a>
		    </div>
	    {{ end }}
	  	</div>
  {{ else }}
	<p>No Posts</p>
  {{ end }}
</div>
{{ partial "foot.html" . }}