<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/img/publish.png">
      <a href="/"><h1>{{ .payload.Config.SiteName }}</h1></a>
      {{ with .payload.Config.Tagline }}
        <p class="lead">{{ . }}</p>
      {{ end }}
    </div>

    <ul class="sidebar-nav">
      <!-- <li class="sidebar-nav-item"><a href="{{ .Site.BaseUrl }}/">Blog</a></li> -->
      {{ range .payload.Pages }}
      <li class="sidebar-nav-item"><a href="/{{ .Slug }}">{{ .Title }}</a></li>
      {{ end }}
      <li class="sidebar-nav-item"><a href="/category">Categories</a></li>
    </ul>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="http://github.com/#">GitHub</a></li>
    </ul>

    <p>Copyright &copy; {{ .Now.Format "2006" }}</p>
  </div>
</div>
