.ace_editor {
	padding-top: 10px;
	height: 400px;
	border: 1px solid #ccc;
}

.save-indicator {
	padding-top: 5px;
}

body .modal-admin {
    /* new custom width */
    width: 65%;
}

body .modal-scroll {
    overflow-y: scroll;
    max-height: 450px;
}

.full {
	width: 100%;
}